.vid{
    width:  150%;
    display:flex;
    justify-content: center;
    align-items: center;
    
     
}

@media only screen and (max-width: 600px){
    .vid{
        width: auto;
        display:flex;
        justify-content: center;
        align-items: center;
        
         
    }
}